
<style>
  h1{
    text-align: center;
    margin-top: 20px;
  }

  .page2{
    height: 600px;
    width: 100%;
  }
  .form
{
justify-content: center;
text-align: center;
}
</style>

<div class="page2">
<h1>Your Todo list</h1>
  
<form action="/todo" method="post" class="form">  <label for="todo">Todo</label><br>
  <input type="text" name="todo"><br>
  <br>

  <button type="submit" value="Submit">Add Todo</button>
</form>

<h3 id="display"></h3>
</div>  



