<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>
<body>
    <h1>Todos</h1>
    {{#if todos.length}}
        <ul>
            {{#each todos}}
                <li>{{this.todo}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>No todos found.</p>
    {{/if}}
</body>
</html>
